# Node backend
/backend/node_modules/
/backend/.env
/backend/.DS_Store
/backend/*.log
/backend/.vscode/

# Angular frontend
/hospital-frontend/node_modules/
/hospital-frontend/.env
/hospital-frontend/.DS_Store
/hospital-frontend/.vscode/
/hospital-frontend/dist/

# OS and editor junk
*.log
*.tmp
.DS_Store
Thumbs.db
.env
.vscode/
.idea/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
